body {
  background-image: url("background.jpg");
  font-family: 'Jura', sans-serif;}

/* Navigation CSS */

/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */

#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
  }
  #navBar h1 {
    width: 25%;
    font-weight: 500;
  }
  #navigation {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
  }
  #navigation p {
    cursor: pointer;
    text-decoration: none;
  }
  .icons1 {
    align-items: left;
  }
  .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
  }
  .icons img {
    margin: 15px;
    cursor: pointer;
  }
  .highlight {
    color: #000000;
    font-weight: 700;
  }
  
  /* Typography CSS */
  
  h2 {
    font-size: 60px;
    margin: 0px 0px;
  }
  
  h3 {
    font-size: 32px;
    font-weight: 300;
    margin: 0px 0px;
  }
  
  h4 {
    color: white;
    font-weight: 400;
    font-size: 22px;
  }
  

  #headline p {
    max-width: 350px;
    font-size: 16px;
    font-weight: 300;
    margin: 0px 0px;
    color: #636364;
  }
  
  @media only screen and (max-width: 1000px) {
    #navigation {
      display: none;
    }
    .icons {
      margin-left: auto;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #headline {
      position: static;
      margin: 20px;
    }
    #heroGrid {
      grid-template-areas:
      "featuredProduct featuredProduct"
      "secondaryProduct CTA";
    }
    #categoryGrid {
      grid-template-rows: 300px 300px 300px 300px 300px;
      grid-template-columns: 1fr;
      grid-template-areas:
      "hoursOfOperation"  
      "phone"

      ;
    }
  }